### IntelliJ IDEA ###
out/
!**/src/main/**/out/
!**/src/test/**/out/
.idea/

### VS Code ###
.vscode/

### Mac OS ###
.DS_Store

### Eric's stuff ###

# Ignore everything in tmp directory except for .gitkeep
tmp/*
!tmp/.gitkeep

# ignore llama log file
main.log

# Ignore all files in llama.cpp/ except for llama.cpp/models/
# We don't want to commit the actual model files though.
!/llama.cpp/
/llama.cpp/*
!llama.cpp/models/GPT/api_key.txt
!llama.cpp/models/*.gitkeep

