### IntelliJ IDEA ###
out/
!**/src/main/**/out/
!**/src/test/**/out/
.idea/

### VS Code ###
.vscode/

### Mac OS ###
.DS_Store

### Eric's stuff ###
/tmp/

# Ignore all files in llama.cpp/ except for llama.cpp/models/
!/llama.cpp/
/llama.cpp/*
!llama.cpp/models/

